doctype html

head(lang='ko')
	meta(charset='UTF-8')
	meta(name='viewport' content='width=device-width, initial-scale=1, shrink-to-fit=no')

	link(rel='stylesheet' href='https://fonts.googleapis.com/css?family=Roboto:300,400,500,700|Material+Icons')
	title Clic lyrics automation

body
	.container
		h1.display-1 Clic 자막 생성
