doctype html

head(lang='ko')
    meta(charset='UTF-8')
    meta(name='viewport' content='width=device-width, initial-scale=1, shrink-to-fit=no')

    title Clic lyrics automation

    link(rel='stylesheet' href=require('bootstrap/dist/css/bootstrap.min.css'))

body
    #test

    script(src=require('jquery/dist/jquery.min'))
    script(src=require('bootstrap/dist/js/bootstrap.min'))